table {
    width: auto;
    border: solid 1px #DDD;
    border-radius: 4px;
    box-shadow: none;
}

// p, li {
//     font-family: Georgia,Cambria,"Times New Roman",Times,serif;
// }

// p {
//     line-height: 1.6em;
//     font-size: 1.2em;
// }